apiVersion: external-secrets.io/v1
kind: ClusterExternalSecret
metadata:
    name: appsignal-secret
    namespace: bib
spec:
  externalSecretName: appsignal-secret
  namespaceSelectors:
  - matchLabels:
      name: data-engineering
  - matchLabels:
      name: evalue
  refreshTime: "1m"
  externalSecretSpec:
    refreshInterval: 60m
    secretStoreRef:
        kind: ClusterSecretStore
        name: cluster-secret-store
    target:
        name: appsignal-secret
        creationPolicy: Owner
    data:
      - remoteRef:
          key: id:e2ecd03e-8996-47f6-8bf9-2654ebd936d6
        secretKey: APPSIGNAL_PUSH_API_KEY
