apiVersion: external-secrets.io/v1
kind: ClusterExternalSecret
metadata:
    name: db-data-eng-secret
    namespace: bib
spec:
  externalSecretName: db-data-eng-secret
  namespaceSelectors:
  - matchLabels:
      name: bib
  - matchLabels:
      name: spark-operator
  - matchLabels:
      name: data-engineering
  refreshTime: "1m"
  externalSecretSpec:
    refreshInterval: 60m
    secretStoreRef:
        kind: ClusterSecretStore
        name: cluster-secret-store
    target:
        name: db-data-eng-secret
        creationPolicy: Owner
    data:
      - remoteRef:
          key: id:d4d8281b-740f-4bf7-a810-b42a50ee3e3a
          property: DB_DATA_ENG_NAME
        secretKey: DB_DATA_ENG_NAME
      - remoteRef:
          key: id:d4d8281b-740f-4bf7-a810-b42a50ee3e3a
          property: DB_DATA_ENG_HOST
        secretKey: DB_DATA_ENG_HOST
      - remoteRef:
          key: id:d4d8281b-740f-4bf7-a810-b42a50ee3e3a
          property: DB_DATA_ENG_PORT
        secretKey: DB_DATA_ENG_PORT
      - remoteRef:
          key: id:d4d8281b-740f-4bf7-a810-b42a50ee3e3a
          property: DB_DATA_ENG_USER
        secretKey: DB_DATA_ENG_USER
      - remoteRef:
          key: id:d4d8281b-740f-4bf7-a810-b42a50ee3e3a
          property: DB_DATA_ENG_PASSWORD
        secretKey: DB_DATA_ENG_PASSWORD

