apiVersion: external-secrets.io/v1
kind: ClusterExternalSecret
metadata:
    name: db-encryption-secret
    namespace: bib
spec:
  externalSecretName: db-encryption-secret
  namespaceSelectors:
  - matchLabels:
      name: bib
  - matchLabels:
      name: data-engineering
  - matchLabels:
      name: evalue
  refreshTime: "1m"
  externalSecretSpec:
    refreshInterval: 60m
    secretStoreRef:
        kind: ClusterSecretStore
        name: cluster-secret-store
    target:
        name: db-encryption-secret
        creationPolicy: Owner
    data:
      - remoteRef:
          key: id:9f36d36b-f361-40c3-a9b0-f7a4f4fc6aac
          property: DB_ENCRYPT_KEY
        secretKey: DB_ENCRYPT_KEY
