apiVersion: external-secrets.io/v1
kind: ClusterExternalSecret
metadata:
    name: hm-mqtt-secret
    namespace: bib
spec:
  externalSecretName: hm-mqtt-secret
  namespaceSelectors:
  - matchLabels:
      name: bib
  - matchLabels:
      name: data-engineering
  refreshTime: "1m"
  externalSecretSpec:
    refreshInterval: 60m
    secretStoreRef:
        kind: ClusterSecretStore
        name: cluster-secret-store
    target:
        name: hm-mqtt-secret
        creationPolicy: Owner
    dataFrom:
      - extract:
          key: id:739819a9-f2e3-4423-b967-70c7d2aec411
    data:
      - remoteRef:
          key: id:12fe5805-5640-4111-a239-495c6e77d764
        secretKey: ca_crt.pem
      - remoteRef:
          key: id:185f28cd-6dee-4e0e-b087-0485b13296b6
        secretKey: client_crt.pem
      - remoteRef:
          key: id:3b04805c-da9b-405a-b6a9-7ff8c66fa3d3
        secretKey: client_key.pem
