apiVersion: external-secrets.io/v1
kind: ClusterExternalSecret
metadata:
    name: renault-secret
    namespace: bib
spec:
  externalSecretName: renault-secret
  namespaceSelectors:
  - matchLabels:
      name: bib
  - matchLabels:
      name: data-engineering
  refreshTime: "1m"
  externalSecretSpec:
    refreshInterval: 60m
    secretStoreRef:
        kind: ClusterSecretStore
        name: cluster-secret-store
    target:
        name: renault-secret
        creationPolicy: Owner
    data:
      - remoteRef:
          key: id:420bb5fd-7e7a-4466-ad7f-b9ae1dca807d
          property: RENAULT_KID
        secretKey: RENAULT_KID
      - remoteRef:
          key: id:420bb5fd-7e7a-4466-ad7f-b9ae1dca807d
          property: RENAULT_AUD
        secretKey: RENAULT_AUD
      - remoteRef:
          key: id:420bb5fd-7e7a-4466-ad7f-b9ae1dca807d
          property: RENAULT_CLIENT
        secretKey: RENAULT_CLIENT
      - remoteRef:
          key: id:420bb5fd-7e7a-4466-ad7f-b9ae1dca807d
          property: RENAULT_SCOPE
        secretKey: RENAULT_SCOPE
      - remoteRef:
          key: id:420bb5fd-7e7a-4466-ad7f-b9ae1dca807d
          property: RENAULT_PWD
        secretKey: RENAULT_PWD
      - remoteRef:
          key: id:420bb5fd-7e7a-4466-ad7f-b9ae1dca807d
          property: RENAULT_API_KEY
        secretKey: RENAULT_API_KEY
      - remoteRef:
          key: id:420bb5fd-7e7a-4466-ad7f-b9ae1dca807d
          property: RENAULT_API_URL
        secretKey: RENAULT_API_URL

