apiVersion: external-secrets.io/v1
kind: ClusterExternalSecret
metadata:
  name: s3-secret
spec:
  externalSecretName: s3-secret
  namespaceSelectors:
  - matchLabels:
      name: bib
  - matchLabels:
      name: spark-operator
  - matchLabels:
      name: evalue
  - matchLabels:
      name: data-engineering
  refreshTime: "1m"
  externalSecretSpec:
    refreshInterval: 60m
    secretStoreRef:
        kind: ClusterSecretStore
        name: cluster-secret-store
    target:
        name: s3-secret
        creationPolicy: Owner
    data:
      - remoteRef:
          key: id:f4a29a4e-7314-40f3-bd1c-a023d1518de8
          property: S3_KEY
        secretKey: S3_KEY
      - remoteRef:
          key: id:f4a29a4e-7314-40f3-bd1c-a023d1518de8
          property: S3_SECRET
        secretKey: S3_SECRET
      - remoteRef:
          key: id:f4a29a4e-7314-40f3-bd1c-a023d1518de8
          property: S3_REGION
        secretKey: S3_REGION
      - remoteRef:
          key: id:f4a29a4e-7314-40f3-bd1c-a023d1518de8
          property: S3_ENDPOINT
        secretKey: S3_ENDPOINT
      - remoteRef:
          key: id:f4a29a4e-7314-40f3-bd1c-a023d1518de8
          property: S3_KEY
        secretKey: AWS_ACCESS_KEY_ID
      - remoteRef:
          key: id:f4a29a4e-7314-40f3-bd1c-a023d1518de8
          property: S3_SECRET
        secretKey: AWS_SECRET_ACCESS_KEY

