apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
    name: s3-secret
    namespace: bib
spec:
    refreshInterval: 60m
    secretStoreRef:
        kind: SecretStore
        name: secret-store
    target:
        name: s3-secret
        creationPolicy: Owner
    data:
      - remoteRef:
          key: id:b439934f-0748-4a18-bafd-704d99ca70cb
          property: S3_BUCKET
        secretKey: S3_BUCKET
      - remoteRef:
          key: id:b439934f-0748-4a18-bafd-704d99ca70cb
          property: S3_KEY
        secretKey: S3_KEY
      - remoteRef:
          key: id:b439934f-0748-4a18-bafd-704d99ca70cb
          property: S3_SECRET
        secretKey: S3_SECRET
      - remoteRef:
          key: id:b439934f-0748-4a18-bafd-704d99ca70cb
          property: S3_REGION
        secretKey: S3_REGION
      - remoteRef:
          key: id:b439934f-0748-4a18-bafd-704d99ca70cb
          property: S3_ENDPOINT
        secretKey: S3_ENDPOINT


