apiVersion: external-secrets.io/v1
kind: ClusterExternalSecret
metadata:
  name: smtp-secret
  namespace: bib
spec:
  externalSecretName: smtp-secret
  namespaceSelectors:
  - matchLabels:
      name: data-engineering
  - matchLabels:
      name: evalue
  refreshTime: "1m"
  externalSecretSpec:
    refreshInterval: 60m
    secretStoreRef:
      kind: ClusterSecretStore
      name: cluster-secret-store
    target:
      name: smtp-secret
      creationPolicy: Owner
    data:
      - secretKey: SMTP_EMAIL
        remoteRef:
          key: id:de2020d1-bb73-4416-a6c9-e9bea5f54fd1
          property: SMTP_EMAIL
      - secretKey: SMTP_USER
        remoteRef:
          key: id:de2020d1-bb73-4416-a6c9-e9bea5f54fd1
          property: SMTP_USER
      - secretKey: SMTP_PASSWORD
        remoteRef:
          key: id:de2020d1-bb73-4416-a6c9-e9bea5f54fd1
          property: SMTP_PASSWORD
      - secretKey: SMTP_HOST
        remoteRef:
          key: id:de2020d1-bb73-4416-a6c9-e9bea5f54fd1
          property: SMTP_HOST
      - secretKey: SMTP_PORT
        remoteRef:
          key: id:de2020d1-bb73-4416-a6c9-e9bea5f54fd1
          property: SMTP_PORT
