apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
    name: tesla-secret
    namespace: bib
spec:
    refreshInterval: 60m
    secretStoreRef:
        kind: SecretStore
        name: secret-store
    target:
        name: tesla-secret
        creationPolicy: Owner
    data:
      - remoteRef:
          key: id:036087e4-ddba-412c-aa25-70ac1b5868f0
          property: TESLA_BASE_URL
        secretKey: TESLA_BASE_URL
      - remoteRef:
          key: id:036087e4-ddba-412c-aa25-70ac1b5868f0
          property: TESLA_CLIENT_ID
        secretKey: TESLA_CLIENT_ID
      - remoteRef:
          key: id:036087e4-ddba-412c-aa25-70ac1b5868f0
          property: TESLA_TOKEN_URL
        secretKey: TESLA_TOKEN_URL
      - remoteRef:
          key: id:036087e4-ddba-412c-aa25-70ac1b5868f0
          property: SLACK_TOKEN
        secretKey: SLACK_TOKEN
      - remoteRef:
          key: id:036087e4-ddba-412c-aa25-70ac1b5868f0
          property: SLACK_CHANNEL_ID
        secretKey: SLACK_CHANNEL_ID

