apiVersion: external-secrets.io/v1
kind: ClusterExternalSecret
metadata:
    name: tesla-secret
    namespace: bib
spec:
  externalSecretName: tesla-secret
  namespaceSelectors:
  - matchLabels:
      name: bib
  - matchLabels:
      name: data-engineering
  refreshTime: "1m"
  externalSecretSpec:
    refreshInterval: 60m
    secretStoreRef:
        kind: ClusterSecretStore
        name: cluster-secret-store
    target:
        name: tesla-secret
        creationPolicy: Owner
    data:
      - remoteRef:
          key: id:53e5d53e-0217-4ea5-a051-509e5a3edade
          property: TESLA_CLIENT_ID
        secretKey: TESLA_CLIENT_ID
      - remoteRef:
          key: id:53e5d53e-0217-4ea5-a051-509e5a3edade
          property: TESLA_CLIENT_SECRET
        secretKey: TESLA_CLIENT_SECRET
      - remoteRef:
          key: id:53e5d53e-0217-4ea5-a051-509e5a3edade
          property: SLACK_TOKEN
        secretKey: SLACK_TOKEN
      - remoteRef:
          key: id:53e5d53e-0217-4ea5-a051-509e5a3edade
          property: SLACK_CHANNEL_ID
        secretKey: SLACK_CHANNEL_ID
