apiVersion: external-secrets.io/v1
kind: ClusterExternalSecret
metadata:
    name: vw-secret
    namespace: bib
spec:
  externalSecretName: vw-secret
  namespaceSelectors:
  - matchLabels:
      name: bib
  - matchLabels:
      name: data-engineering
  refreshTime: "1m"
  externalSecretSpec:
    refreshInterval: 60m
    secretStoreRef:
        kind: ClusterSecretStore
        name: cluster-secret-store
    target:
        name: vw-secret
        creationPolicy: Owner
    data:
      - remoteRef:
          key: id:df7c734b-abca-4cf3-9ba8-088ddadb3ad8
          property: VW_AUTH_URL
        secretKey: VW_AUTH_URL
      - remoteRef:
          key: id:df7c734b-abca-4cf3-9ba8-088ddadb3ad8
          property: VW_BASE_URL
        secretKey: VW_BASE_URL
      - remoteRef:
          key: id:df7c734b-abca-4cf3-9ba8-088ddadb3ad8
          property: VW_CLIENT_USERNAME
        secretKey: VW_CLIENT_USERNAME
      - remoteRef:
          key: id:df7c734b-abca-4cf3-9ba8-088ddadb3ad8
          property: VW_CLIENT_PASSWORD
        secretKey: VW_CLIENT_PASSWORD
      - remoteRef:
          key: id:df7c734b-abca-4cf3-9ba8-088ddadb3ad8
          property: VW_ORGANIZATION_ID
        secretKey: VW_ORGANIZATION_ID
      - remoteRef:
          key: id:df7c734b-abca-4cf3-9ba8-088ddadb3ad8
          property: VW_PUSH_API_KEY
        secretKey: VW_PUSH_API_KEY

