apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
    name: vw-secret
    namespace: bib
spec:
    refreshInterval: 60m
    secretStoreRef:
        kind: SecretStore
        name: secret-store
    target:
        name: vw-secret
        creationPolicy: Owner
    data:
      - remoteRef:
          key: id:df7c734b-abca-4cf3-9ba8-088ddadb3ad8
          property: VW_AUTH_URL
        secretKey: VW_AUTH_URL
      - remoteRef:
          key: id:df7c734b-abca-4cf3-9ba8-088ddadb3ad8
          property: VW_BASE_URL
        secretKey: VW_BASE_URL
      - remoteRef:
          key: id:df7c734b-abca-4cf3-9ba8-088ddadb3ad8
          property: VW_CLIENT_USERNAME
        secretKey: VW_CLIENT_USERNAME
      - remoteRef:
          key: id:df7c734b-abca-4cf3-9ba8-088ddadb3ad8
          property: VW_CLIENT_PASSWORD
        secretKey: VW_CLIENT_PASSWORD
      - remoteRef:
          key: id:df7c734b-abca-4cf3-9ba8-088ddadb3ad8
          property: VW_ORGANIZATION_ID
        secretKey: VW_ORGANIZATION_ID

