version: '3.8'

services:
  bmw_ingestion_service:
    build:
      context: .
      dockerfile: bmw.Dockerfile
    container_name: bmw-ingestion
    env_file:
      - path: ./.env
        required: true
      - path: ./.python.env
        required: true
      - path: ./.args.env
        required: false
    volumes:
      - .:/app
  hm_ingestion_service:
    build:
      context: .
      dockerfile: hm.Dockerfile
    container_name: hm-ingestion
    env_file:
      - path: ./.env
        required: true
      - path: ./.python.env
        required: true
      - path: ./.args.env
        required: false
    volumes:
      - .:/app
  ms_ingestion_service:
    build:
      context: .
      dockerfile: mobilisights.Dockerfile
    container_name: ms-ingestion
    env_file:
      - path: ./.env
        required: true
      - path: ./.python.env
        required: true
      - path: ./.args.env
        required: false
    volumes:
      - .:/app
