# version: '3.8'

services:
  data_ev:
    platform: linux/amd64
    image: rg.fr-par.scw.cloud/bib-images/data_ev:latest
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: data_ev
    env_file:
      - .env
  activation_service:
    platform: linux/amd64
    image: rg.fr-par.scw.cloud/bib-images/activation:latest
    build:
      context: .
      dockerfile: docker/activation.Dockerfile
    container_name: activation
    env_file:
      - .env

  tesla_ingestion_service:
    build:
      context: .
      dockerfile: docker/tesla.Dockerfile
    container_name: tesla-ingestion
    env_file:
      - ./.env
      - ./.python.env
    volumes:
      - ./src:/app/src
    depends_on:
      - redis

  # bmw_ingestion_service:
  #   build:
  #     context: .
  #     dockerfile: docker/bmw.Dockerfile
  #   container_name: bmw-ingestion
  #   env_file:
  #     - ./.env
  #     - ./.python.env
  #   volumes:
  #     - .:/app
  #   depends_on:
  #     - redis

  hm_ingestion_service:
    build:
      context: .
      dockerfile: docker/hm.Dockerfile
    container_name: hm-ingestion
    env_file:
      - ./.env
      - ./.python.env
    volumes:
      - ./src:/app/src
    depends_on:
      - redis
    deploy:
      resources:
        limits:
          memory: 2G
          cpus: "1.5"
        reservations:
          memory: 512M
          cpus: "0.5"
      restart_policy:
        condition: on-failure
        max_attempts: 3
        window: 120s
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
      memlock:
        soft: -1
        hard: -1
    environment:
      - PYTHONMALLOC=debug
      - PYTHONFAULTHANDLER=1
      - PYTHONOPTIMIZE=2
      - PYTHONIOENCODING=utf-8
      - BATCH_SIZE=15
      #- max_workers=3

  ms_ingestion_service:
    build:
      context: .
      dockerfile: docker/mobilisights.Dockerfile
    container_name: ms-ingestion
    env_file:
      - ./.env
      - ./.python.env
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_USER=bib
      - REDIS_PASSWORD=bibpwd
    depends_on:
      - redis

  transform_service:
    build:
      context: .
      dockerfile: docker/transform.Dockerfile
    container_name: transform
    env_file:
      - ./.env
      - ./.python.env
    volumes:
      - ./src:/app/src
    depends_on:
      - redis

  redis:
    image: redis:alpine
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf
      - ./redis-acl.conf:/usr/local/etc/redis/users.acl
    ports:
      - "6379:6379"
    command: >
      redis-server /usr/local/etc/redis/redis.conf
        --port 6379
        --protected-mode no
        --aclfile /usr/local/etc/redis/users.acl
    deploy:
      restart_policy:
        condition: on-failure

  ingestion-web-app:
    platform: linux/amd64
    image: rg.fr-par.scw.cloud/bib-images/ingestion-web-app:latest
    build:
      dockerfile: docker/webapp.Dockerfile
      context: .
    ports:
      - "8080:8080"
    environment:
      BMW_PUSH_API_KEY: ${BMW_PUSH_API_KEY}
      S3_REGION: ${S3_REGION}
      S3_ENDPOINT: ${S3_ENDPOINT}
      S3_BUCKET: ${S3_BUCKET}
      S3_KEY: ${S3_KEY}
      S3_SECRET: ${S3_SECRET}

volumes:
  redis_data:
    driver: local

