version: '3.8'

services:

  hm_ingestion_service: 
    build: 
      context: .
      dockerfile: hm.Dockerfile
    container_name: hm_ingestion
    env_file: 
      - path: ./.env
        required: true
      - path: ./.python.env
        required: true
      - path: ./.args.env
        required: false
    volumes:
      - .:/app
    environment:
      - PYTHONPATH=/app
  
  ms_ingestion_service: 
    build:
      context: .
      dockerfile: mobilisights.Dockerfile
    container_name: ms-ingestion
    env_file: 
      - path: ./.env
        required: true
      - path: ./.python.env
        required: true
      - path: ./.args.env
        required: false
    volumes:
      - .:/app
    environment:
      - PYTHONPATH=/app
