version: '3.8'

services:
  hm_ingestion_sevice: 
    build: . 
    container_name: hm_ingestion
    environment:
      - PYTHONUNBUFFERED=1
      - PYTHONDONTWRITEBYTECODE=1
      - PIP_NO_CACHE_DIR=off
      - PIP_DISABLE_PIP_VERSION_CHECK=on TEST
      - PIP_DEFAULT_TIMEOUT=100
    env_file: 
      - path: ./.env
        required: true
      - path: ./.python.env
        required: true
    volumes:
      - .:/app TEST
    command: [./start.sh, --dotenv]

