# version: '3.8'

services:
  data_ev:
    platform: linux/amd64
    image: rg.fr-par.scw.cloud/bib-images/data_ev:latest
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: data_ev
    env_file:
      - .env
  activation_service:
    platform: linux/amd64
    image: rg.fr-par.scw.cloud/bib-images/activation:latest
    build:
      context: .
      dockerfile: docker/activation.Dockerfile
    container_name: activation
    env_file:
      - .env

  ev_database_service:
    platform: linux/amd64
    image: rg.fr-par.scw.cloud/bib-images/ev_database:latest
    build:
      context: .
      dockerfile: docker/ev_database.Dockerfile
    container_name: ev_database
    env_file:
      - .env

  tesla_ingestion_service:
    build:
      context: .
      dockerfile: docker/tesla.Dockerfile
    container_name: tesla-ingestion
    image: rg.fr-par.scw.cloud/bib-images/tesla-ingestion:latest
    env_file:
      - ./.env
      - ./.python.env

  # bmw_ingestion_service:
  #   build:
  #     context: .
  #     dockerfile: docker/bmw.Dockerfile
  #   container_name: bmw-ingestion
  #   env_file:
  #     - ./.env
  #     - ./.python.env
  #   volumes:
  #     - .:/app
  #   depends_on:
  #     - redis

  scraping_soh_service:
    platform: linux/amd64
    build:
      context: .
      dockerfile: docker/scraping_soh.Dockerfile
    image: rg.fr-par.scw.cloud/bib-images/scraping_soh:latest
    container_name: scraping_soh
    env_file:
      - ./.env
      - ./.python.env

  results_service:
    platform: linux/amd64
    build:
      context: .
      dockerfile: docker/results.Dockerfile
    image: rg.fr-par.scw.cloud/bib-images/results:latest
    container_name: results
    env_file:
      - .env

  results_service_dev:
    platform: linux/amd64
    build:
      context: .
      dockerfile: docker/results.Dockerfile
    image: rg.fr-par.scw.cloud/bib-images-dev/results:latest
    container_name: results
    env_file:
      - .env

  hm_ingestion_service:
    build:
      context: .
      dockerfile: docker/hm.Dockerfile
    image: rg.fr-par.scw.cloud/bib-images/hm-ingestion:latest
    container_name: hm-ingestion
    env_file:
      - ./.env
      - ./.python.env
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_USER=bib
      - REDIS_PASSWORD=bibpwd

  ms_ingestion_service:
    build:
      context: .
      dockerfile: docker/mobilisights.Dockerfile
    image: rg.fr-par.scw.cloud/bib-images/ms-ingestion:latest
    container_name: ms-ingestion
    env_file:
      - ./.env
      - ./.python.env
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_USER=bib
      - REDIS_PASSWORD=bibpwd
    depends_on:
      - redis

  transform_service:
    build:
      context: .
      dockerfile: docker/transform.Dockerfile
    container_name: transform
    env_file:
      - ./.env
      - ./.python.env
    volumes:
      - ./src:/app/src
    depends_on:
      - redis

  data-catalog:
    platform: linux/amd64
    build:
      context: .
      dockerfile: docker/data_catalog.Dockerfile
    container_name: data-catalog
    image: rg.fr-par.scw.cloud/bib-images/data-catalog:latest
    restart: always
    ports:
      - "8501:8501"
    env_file:
      - ./.env

  redis:
    image: redis:alpine
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf
      - ./redis-acl.conf:/usr/local/etc/redis/users.acl
    ports:
      - "6379:6379"
    command: >
      redis-server /usr/local/etc/redis/redis.conf
        --port 6379
        --protected-mode no
        --aclfile /usr/local/etc/redis/users.acl
    deploy:
      restart_policy:
        condition: on-failure

  ingestion-web-app:
    platform: linux/amd64
    image: rg.fr-par.scw.cloud/bib-images/ingestion-web-app:latest
    build:
      dockerfile: docker/webapp.Dockerfile
      context: .
    ports:
      - "8080:8080"
    environment:
      BMW_PUSH_API_KEY: ${BMW_PUSH_API_KEY}
      S3_REGION: ${S3_REGION}
      S3_ENDPOINT: ${S3_ENDPOINT}
      S3_BUCKET: ${S3_BUCKET}
      S3_KEY: ${S3_KEY}
      S3_SECRET: ${S3_SECRET}

  data-catalog:
    build:
      context: .
      dockerfile: docker/data_catalog.Dockerfile
    container_name: data-catalog
    restart: always
    ports:
      - "8501:8501"
    env_file:
      - ./src/streamlit/data-catalog/.env

  external_api:
    build:
      context: .
      dockerfile: docker/external_api.Dockerfile
    image: rg.fr-par.scw.cloud/bib-images/external-api:latest
    container_name: external_api
    restart: unless-stopped
    platform: linux/amd64
    ports:
      - "4000:4000"
    environment:
      #REDIS_HOST: redis
      #REDIS_PORT: 6379
      ALGORITHM: HS256
      SECRET_KEY: ${SECRET_KEY}
      ENCRYPT_KEY: ${ENCRYPT_KEY}
      DB_DATA_EV_USER: root
      DB_DATA_EV_PASSWORD: ${EXTERNAL_DB_DATA_EV_PASSWORD}
      DB_DATA_EV_HOST: 195.154.70.203
      DB_DATA_EV_PORT: 1462
      DB_DATA_EV_NAME: rdb
    depends_on:
      - redis
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s

volumes:
  redis_data:
    driver: local

