services:
  data_ev:
    platform: linux/amd64
    image: rg.fr-par.scw.cloud/data-engineering/data_ev:latest
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: data_ev
    env_file:
      - .env

  activation_service:
    platform: linux/amd64
    image: rg.fr-par.scw.cloud/data-engineering/activation:latest
    build:
      context: .
      dockerfile: docker/activation.Dockerfile
    container_name: activation
    env_file:
      - .env

  ev_database_service:
    platform: linux/amd64
    image: rg.fr-par.scw.cloud/data-engineering/ev_database:latest
    build:
      context: .
      dockerfile: docker/ev_database.Dockerfile
    container_name: ev_database
    env_file:
      - .env

  tesla_ingestion_service:
    platform: linux/amd64
    build:
      context: .
      dockerfile: docker/tesla.Dockerfile
    container_name: tesla-ingestion
    image: rg.fr-par.scw.cloud/data-engineering/tesla-ingestion:latest
    env_file:
      - ./.env

  scraping_soh_service:
    platform: linux/amd64
    build:
      context: .
      dockerfile: docker/scraping_soh.Dockerfile
    image: rg.fr-par.scw.cloud/data-engineering/scraping_soh:latest
    container_name: scraping_soh
    env_file:
      - ./.env

  premium_report_service:
    platform: linux/amd64
    build:
      context: .
      dockerfile: docker/premium_report.Dockerfile
    image: rg.fr-par.scw.cloud/data-engineering/premium_report:latest
    container_name: premium_report
    env_file:
      - ./.env

  results_service:
    platform: linux/amd64
    build:
      context: .
      dockerfile: docker/results.Dockerfile
    image: rg.fr-par.scw.cloud/data-engineering/results:latest
    container_name: results
    env_file:
      - .env

  results_service_dev:
    platform: linux/amd64
    build:
      context: .
      dockerfile: docker/results.Dockerfile
    image: rg.fr-par.scw.cloud/bib-images-dev/results:latest
    container_name: results
    env_file:
      - .env

  hm_ingestion_service:
    platform: linux/amd64
    build:
      context: .
      dockerfile: docker/hm.Dockerfile
    image: rg.fr-par.scw.cloud/data-engineering/hm-ingestion:latest
    container_name: hm-ingestion
    env_file:
      - ./.env
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_USER=bib
      - REDIS_PASSWORD=bibpwd

  ms_ingestion_service:
    platform: linux/amd64
    build:
      context: .
      dockerfile: docker/mobilisights.Dockerfile
    image: rg.fr-par.scw.cloud/data-engineering/ms-ingestion:latest
    container_name: ms-ingestion
    env_file:
      - ./.env
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_USER=bib
      - REDIS_PASSWORD=bibpwd
    depends_on:
      - redis

  transform_service:
    build:
      context: .
      dockerfile: docker/transform.Dockerfile
    container_name: transform
    env_file:
      - ./.env
    volumes:
      - ./src:/app/src
    depends_on:
      - redis

  data-catalog:
    platform: linux/amd64
    build:
      context: .
      dockerfile: docker/data_catalog.Dockerfile
    container_name: data-catalog
    image: rg.fr-par.scw.cloud/data-engineering/data-catalog:latest
    restart: always
    ports:
      - "8501:8501"
    env_file:
      - ./.env

  redis:
    image: redis:alpine
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf
      - ./redis-acl.conf:/usr/local/etc/redis/users.acl
    ports:
      - "6379:6379"
    command: >
      redis-server /usr/local/etc/redis/redis.conf
        --port 6379
        --protected-mode no
        --aclfile /usr/local/etc/redis/users.acl
    deploy:
      restart_policy:
        condition: on-failure

  ingestion-push:
    platform: linux/amd64
    image: rg.fr-par.scw.cloud/data-engineering/ingestion-push:latest
    build:
      dockerfile: docker/push_ingestion.Dockerfile
      context: .
    ports:
      - "8080:8080"
    env_file:
      - ./.env
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_USER=bib
      - REDIS_PASSWORD=bibpwd
    depends_on:
      - redis

  spark-transform-service:
    platform: linux/amd64
    build:
      context: .
      dockerfile: docker/spark.Dockerfile
    image: rg.fr-par.scw.cloud/data-engineering/spark:latest
    container_name: spark-transform
    env_file:
      - ./.env

  external_api:
    build:
      context: .
      dockerfile: docker/external_api.Dockerfile
    image: rg.fr-par.scw.cloud/evalue/external-api:latest
    container_name: external_api
    restart: unless-stopped
    platform: linux/amd64
    ports:
      - "4000:4000"
    environment:
      #REDIS_HOST: redis
      #REDIS_PORT: 6379
      ALGORITHM: HS256
      SECRET_KEY: ${SECRET_KEY}
      ENCRYPT_KEY: ${ENCRYPT_KEY}
      DB_DATA_EV_NAME: evalue
      DB_DATA_EV_USER: evalue
      DB_DATA_EV_PASSWORD: evalue
      DB_DATA_EV_HOST: postgres
      DB_DATA_EV_PORT: 55432
    depends_on:
      - redis
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s

  postgres:
    image: postgres:17
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "55432:5432"
    environment:
      - POSTGRES_USER=evalue
      - POSTGRES_PASSWORD=evalue
      - POSTGRES_DB=evalue

  dagster-user-deployment:
    platform: linux/amd64
    build:
      context: .
      dockerfile: docker/dagster.Dockerfile
    image: rg.fr-par.scw.cloud/bib-images/dagster-user-deployment:latest
    # image: rg.fr-par.scw.cloud/bib-images-dev/dagster-user-deployment:latest
    container_name: dagster-user-deployment

volumes:
  redis_data:
    driver: local

  postgres_data:
    driver: local
