version: '3.8'

services:
  hm_ingestion_sevice: 
    build: . 
    container_name: hm_ingestion
    env_file: 
      - path: ./.env
        required: true
      - path: ./.python.env
        required: true
      - path: ./.args.env
        required: false
    volumes:
      - .:/app

