version: '3.8'

services:
  hm_ingestion_service: 
    build: 
      context: .
      dockerfile: hm.Dockerfile
    container_name: hm_ingestion
    env_file: 
      - ./.env
      - ./.python.env
      # - ./.args.env
    volumes:
      - .:/app

  ms_ingestion_service: 
    build:
      context: .
      dockerfile: mobilisights.Dockerfile
    container_name: ms-ingestion
    env_file: 
      - ./.env
      - ./.python.env
      # - ./.args.env
    volumes:
      - .:/app
