# version: '3.8'

services:
  # tesla_ingestion_service:
  #   build:
  #     context: .
  #     dockerfile: tesla.Dockerfile
  #   container_name: tesla-ingestion
  #   env_file:
  #     - ./.env
  #     - ./.python.env
  #   volumes:
  #     - .:/app
  #   depends_on:
  #     - redis

  bmw_ingestion_service:
    build:
      context: .
      dockerfile: bmw.Dockerfile
    container_name: bmw-ingestion
    env_file:
      - ./.env
      - ./.python.env
    volumes:
      - .:/app
    depends_on:
      - redis

  hm_ingestion_service:
    build:
      context: .
      dockerfile: hm.Dockerfile
    container_name: hm-ingestion
    env_file:
      - ./.env
      - ./.python.env
    volumes:
      - .:/app
    depends_on:
      - redis

  ms_ingestion_service:
    build:
      context: .
      dockerfile: mobilisights.Dockerfile
    container_name: ms-ingestion
    env_file:
      - ./.env
      - ./.python.env
    volumes:
      - .:/app
    depends_on:
      - redis

  transform_service:
    build:
      context: .
      dockerfile: transform.Dockerfile
    container_name: transform
    env_file:
      - ./.env
      - ./.python.env
    volumes:
      - .:/app
    depends_on:
      - redis

  redis:
    image: redis:alpine
    command: redis-server /usr/local/etc/redis/redis.conf
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf
      - redis_data:/data
    ports:
      - "6379:6379"
    env_file:
      - ./.env
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    deploy:
      restart_policy:
        condition: on-failure

volumes:
  redis_data:
    driver: local

