apiVersion: batch/v1
kind: CronJob
metadata:
  name: com-compressing-mercedes-benz
  namespace: bib
spec:
  schedule: "0 0 * * *"
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 2
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app: com-compressing-mercedes-benz
        spec:
          restartPolicy: Never
          containers:
            - name: com-compressing-mercedes-benz-1
              image: rg.fr-par.scw.cloud/bib-images/data_ev:latest
              imagePullPolicy: Always
              command: ["python", "-m",  "src.transform.compressor.main"]
              args: ["mercedes-benz"]
              envFrom:
                - secretRef:
                    name: s3-secret
                - secretRef:
                    name: s3-secret-dev
              resources:
                limits:
                  memory: "2Gi"
                  cpu: "1"
                requests:
                  memory: "2Gi"
                  cpu: "1"

