services:
  ingestion-web-app:
    platform: linux/amd64
    image: rg.fr-par.scw.cloud/bib-images/ingestion-web-app:latest
    build: 
      dockerfile: web/Dockerfile
      context: ..
    ports:
      - "8080:8080"
    environment:
      BMW_PUSH_API_KEY: ${BMW_PUSH_API_KEY}
      S3_REGION: ${S3_REGION}
      S3_ENDPOINT: ${S3_ENDPOINT}
      S3_BUCKET: ${S3_BUCKET}
      S3_KEY: ${S3_KEY}
      S3_SECRET: ${S3_SECRET}


